*{box-sizing: border-box;}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 4vh 0;
	background-color: rgba(78, 192, 118, 0.2);
}
.title{
	margin: 0 0 10px 0;
	font-size: 32px;
	font-weight: bold;
}
.wrapper, .form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.wrapper{
	justify-content: space-between;
	max-width: 500px;
	height: 90vh;
	margin: auto;
	padding: 30px;
	box-shadow: 2px 2px 10px grey;
	background-color: rgb(249, 249, 249);
}
.chat{
	height: 50%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.chat__msg{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 34px;
}

.author{
	display: block;
	font-size: inherit;
	font-weight: bold;
	color: rgb(78, 192, 118);
	margin-right: 5px;
}
.comment{
	display: block;
	font-size: inherit;
}
.form__btn-wrapper{
	margin: 15px 0px 0px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: flex-end;
	height: 30px;
	width: 290px;
}
.form{
	width: 100%;
	justify-content: flex-start;
	margin-top: 5px;
}
.form__row{
	margin: 8px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;	
}
.form__label{
	width: 100px;
	font-size: 16px;
	font-weight: bold;
	color:darkorchid;
}
.form__comment, 
.form__name{
	margin: 5px 0 3px 0;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	padding: 0 7px;
	border: 1px solid rgb(200, 200, 200);
}	
.form__name{
	height: 30px;
}
.form__button{
	width: 130px;
	height: 30px;
	border: none;
	color: #fff;
	background-color: darkorchid;
	font-family: inherit;
	letter-spacing: 1px;
	font-weight: 600;
}
.header{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.user-info__wrapper{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	width: 200px;
	height: 35px;
}
.user-info__wrapper .author{
	font-size: 16px;
}
.user-info__wrapper .author:hover{
	cursor: text;
}
.user-info__wrapper .icon-wrapper:hover{
	box-shadow: 1px 1px 2px rgb(134, 134, 134);
	cursor: pointer;
}
.user-info__select-icon{
	display: none;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 4px;
	top: 38px;
	width: 140px;
	padding: 10px 3px 10px 3px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border: 1px solid rgb(200, 200, 200);
	background-color: #fff;
}
.select-icon__title{
	font-size: 14px;
	padding: 0 10px 3px 0;
}
.user-info__wrapper .input--author{
	display: none;
	position: absolute;
	top: 4px;
	right: 35px;
	width: 95px;
}
.user-info__wrapper .input--add-icon-link{
	width: 300px;
	font-size: 16px;
}
.user-info__wrapper input::placeholder{
	height: 28px;
	padding-left: 5px;
	z-index: 3;
	color: rgba (78, 192, 118, 0.3);
}
.icon-wrapper{
	width: 34px;
	height: 34px;
	overflow: hidden;
	margin: 2px;
	border-radius: 50%;
	border: 1px solid rgb(200, 200, 200);
	position: relative;
}
.user-icon{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 4px;
	left: 4px;
}
.input--add-icon-link{
	width: 120px;
	height: 30px;
	border: 1px solid rgb(200, 200, 200);
}
.add-icon-link__wrapper{
	position: absolute;
	top: 80px;
	right: -15px;
	display: none;
	flex-direction: row;
	padding: 30px 20px;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 10px grey;
	background-color: rgb(249, 249, 249);
	z-index: 5;
}
.close-select-icon{
	background-color: #fff;
	font-size: 18px;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 5px;
	right: 5px;
}